button {
  background-color: #5c6b82;
  color: white;
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #3367d6;
}

button:active {
  background-color: #224dde;
}

.container {
  width: 500px;
  margin: 0 auto;
  background-color: #525054;
  border-radius: 10px;
  padding: 2rem;
}

h1 {
  text-align: center;
  color: #000000;
  font-size: 2rem;
}

form {
  margin-top: 2rem;
}

input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #000000;
  border-radius: 5px;
}

button {
  margin-top: 1rem;
}

html {
  min-height: 100%;
  background-image: url(https://i.pinimg.com/originals/35/94/d1/3594d121c1c289e72ea4e7fe52bf9a08.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
